@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var locType = "";


    if (CurrentPage.GetPropertyValue("typeOfLocation") == "Festival")
    {
        locType = "<i class='fa fa-music'></i>";

    }
    else if (CurrentPage.GetPropertyValue("typeOfLocation") == "Historical")
    {
        locType = "<i class='fa fa-university'></i>";
    }
    else if (CurrentPage.GetPropertyValue("typeOfLocation") == "Venue")
    {
        locType = "<i class='fa fa-glass'></i>";
    }
    else
    {
        locType = "<i class='fa fa-glass'></i>";
    }

}
@Html.Partial("pageHeader")
<div class="mb65 hidden-xs"></div><!-- space -->
<section class="location-details">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <article class="entry single">

                    <div class="entry-media">
                        <figure>
                            <img src="@Model.Content.GetCropUrl("locationImage", "main")" alt="@Umbraco.Field("locationName")">
                        </figure>
                    </div><!-- End .entry-media -->

                    <span class="entry-date hidden-xs">@Html.Raw(locType)<span>@Umbraco.Field("typeOfLocation")</span></span>
                    @*<span class="entry-format"><i class="fa fa-music"></i></span>*@
                    <h2 class="entry-title title-underblock custom">@Umbraco.Field("locationName")</h2>


                    <div class="entry-content">
                        @Umbraco.Field("description")
                    </div><!-- End .entry-content -->


                </article>
            </div><!-- End .col-md-9 -->

            <div class="mb50 clearfix visible-sm visible-xs"></div><!-- space -->

            <aside class="col-md-3 sidebar" role="complementary">

                <div class="widget">
                    <h3>Contact</h3>
                    <ul class="links">

                        @if (CurrentPage.HasValue("phoneNumber"))
                        {
                        <li><a><i class="fa fa-phone"></i>Phone: @CurrentPage.phoneNumber</a></li>}
                        @if (CurrentPage.HasValue("website"))
                        {
                            <li><a><i class="fa fa-link"></i>Website: @CurrentPage.website</a></li>}
                        @if (CurrentPage.HasValue("eventDate"))
                        {
                            <li><a><i class="fa fa-calendar"></i>Event Date: @CurrentPage.eventDate</a></li>  }
                        @if (CurrentPage.HasValue("address"))
                        {
                            <li><a><i class="fa fa-map-pin"></i>Address: @CurrentPage.address</a></li>
                        }

                    </ul>
                </div><!-- End .widget -->
            </aside><!-- End .col-md-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</section>
<section class="location-map">
    <div id="map" class="map3"></div><!-- End #map -->
</section>
@section styles {
    <style>.mb65{margin-bottom:65px!important}.mb50{margin-bottom:50px!important}</style>
}
@section Scripts
{
    <!-- Google map javascript api v3 -->
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
    <script>
        /* Map */
        (function () {
            "use strict";

            if (document.getElementById("map")) {
                var locations = [
                    ['<div class="map-info-box"><ul class="contact-info-list"><li><span><i class="fa fa-home fa-fw"></i></span>@Umbraco.Field("address")</li><li><span><i class="fa fa-phone fa-fw"></i></span>@Umbraco.Field("phoneNumber")</li></ul></div>', @Umbraco.Field("lat"), @Umbraco.Field("long")]
                ];

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: new google.maps.LatLng(@Umbraco.Field("lat"),@Umbraco.Field("long")),
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles: [{"featureType":"all","elementType":"all","stylers":[{"saturation":-100},{"gamma":0.5}]}]
                });

                var infowindow = new google.maps.InfoWindow();


                var marker, i;

                for (i = 0; i < locations.length; i++) {
                  marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: '/images/pin.png',
                  });

                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                      infowindow.setContent(locations[i][0]);
                      infowindow.open(map, marker);
                    }
                  })(marker, i));
                }
            }

        }());
    </script>
}
